
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Lato&display=swap");

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar, h3, h5, h1{
  font-family: 'Cormorant Garamond', serif;
}
#AboveTheFold{
  background-image: url("./patrick-hendry-qSmomJCEUiA-unsplash.jpg");
}


#Contact{
  background-image: url("./jez-timms-IlpXSjNSNRI-unsplash.jpg");
}

#AboveTheFold, #Contact{
  background-size: cover;
  height: 100%;
  /* width: 100%; */
}

#AboveTheFold, #Contact, #Hours{
  text-align: center;
}